* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation CSS */
.header nav { 
  padding-top: 30px;
  margin-right: 20px;
  float: right;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 25px;  
}

.header nav ul {
  list-style-type: none;
  display: inline-block;
}

.header nav ul li {
  display: inline-block;
}

/* element selectors  */
.header {
  font-family: 'Poppins', sans-serif;
  background-color: #000000d4;
  width: 100%;
  height: 100px;
  position: fixed;
 
}

.header h1 {
  font-size: 30px;
  padding-left: 60px;
  text-align: left;
  color: white;
  padding: 20px;
}

.header h2 {
  font-size: 20px;
  padding-left: 60px;
  text-align: left;
  color: #ff01aa;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/cool-website-background-23-920x518.jpg);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
}

/* Hero container */
.hero-banner {
  border: green solid 4px;

}  

/* text hero-banner  */
.hero-banner h2 {
  margin: 0px;
  padding-left: 300px;
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  color: #ffd701;
  text-align: left;
  align-content: center;
  line-height: 2cm;
  /* border: 1px rgb(128, 0, 255) solid; */
}

 
/* set up the style for the page-wrapper  */
.page-wrapper {
  display: inline-block;
  width: 100%;
  border: 1px solid pink;
}

/* about me container  */
#about-me {
  display: block;
  padding-top: 110px;
  margin: 20px;
  border: 1px solid blue;
  height: 900px;
  }

#about-me div p {
  margin-left: 100px;
  width: 1024px;
  /* border: 1px solid orange; */
}

#about-me div h3 {
  margin-left: 900px;
}
#about-me img {
  width: auto;
  height: 600px;
  border-radius: 4%;
  padding-right: 100px;
  padding-left: 50px;
  margin-top: 5px;
}

/*skills container*/
#page-section-skills {
  margin: 20px;
  border: 1px solid darkmagenta;
  height: 900px;
}

#page-section-skills h2 {
  margin: 120px;
  
}

#page-section-skills img {
  margin-left: 400px;
  width: 500px;
}

#page-section-skills div p {
  margin-left: 900px;
  margin-top: 20px;
  padding-left: 100px;
  width: 500px;
  text-align: justify;
}

/* Portifolio container*/
#page-section-work {
  margin: 20px;
  border: 1px solid burlywood;
  height: 890px;
}

#page-section-work h2 {
  margin-top: 120px;
  margin-left: 200px;
}

#repositoryIcon {
  height: 60px;
}

#workIcon {
  height: 250px;
}

/*contact container*/
#page-section-contact {
  padding: 20px;
  border: 1px solid red;
  height: 624px;
  align-items: botton;
}

#page-section-contact img {
  height: 60px;
  align-items: center;
  align-content: center;
}

#page-section-contact h1 {
  margin-top: 100px;
  margin-left: 350px;
  font-size: 90px;
  align-items: center;
  align-content: center;
}


/* positining the images to the main area  */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* typo  */
h1 {
  color: white;
  font-size: 40px;
  margin: 15px;
  padding-left: 300px;
  text-align: left;
  align-content: center;
  /* border: 1px rgb(0, 255, 55) solid; */
}

h2 {
  color: #ffd701;
  font-size: 60px;
  margin-left: 100px;
  margin-bottom: 50px;
  text-align: left;

}

h3 {
  color: #fdd701;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 35px;
  font-size: 30px;
  text-decoration-line: underline;
  text-decoration-style: solid; 
  text-decoration-color: #ffd701;
}

a:hover {
  text-decoration: underline;
  text-decoration: solid; /* this is default */
  text-decoration-color: #ffd701;
}

p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 25px;
  line-height: 32px; /*within paragraphs*/
  margin-bottom: 30px; /*between paragraphs*/
  text-align: justify;
}

button {
  display: inline-block;
  background-color: #ffd701;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-left: 60px;
  text-align: center;
  margin-top: 30px;
  padding: 5px;
}

/* Grid CSS */
#heroGrid {
  padding-top: 400px;
  padding-left: 200px;
  display: grid;
  min-height: 625px;
  height: 85vh;
  align-items: center;
  align-content: center;
  grid-template-rows: 25% 75%;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  "adriProfile heroText";
}

.adriProfile {
  background-image: url(./images/Adri_profile_img.png);
  grid-area: adriProfile;
}

.heroText {
  grid-area: heroText;
  /* background-image: url(); */
  justify-content: center;
}

.contactGrid {
  margin: 20px;
  padding-left: 500px;
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: 
  "linKedinIcon WhatsAppIcon emailIcon";
}

/* Grid template areas  */
#clickIcon {
  background-image: url("./images/get_in_touch_icon.png");
  grid-area: clickIcon;
  
}

#linKedinIcon {
  background-image: url("./images/linkedin_icon.png");
  grid-area: linKedinIcon;
}

#WhatsAppIcon {
  background-image: url("./images/WhatsApp_icon.png");
  grid-area: WhatsAppIcon;
}
#emailIcon {
  grid-area: emailIcon;
  background-image: url("./images/email_icon.png");
}

/* footer  */

.footer {
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
  height: 90px;
  width: 100%;
  background-color: #ffd701;
}

.footer p {
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
}
  
